In [1]:
import pandas as pd
import re

In [11]:
#Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
string = 'Python Exercises, PHP exercises.'
print(re.sub("[ ,.]",":",string ))

Python:Exercises::PHP:exercises:

In [9]:
#Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
d = {'SUMMARY' : ['hello, world!','XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(d)
df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-z\s]', '', regex=True)
print(df)

         SUMMARY
0    hello world
1           test
2  four five six

In [3]:
#Question 3 - Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.
def findwords(text):
    p = re.compile(r'\b\w{4,}\b')
    match = p.findall(text)
    return match
text = "veera is my daughter and she is very intelligent."
result = findwords(text)
print(result)

['veera', 'daughter', 'very', 'intelligent']

In [12]:
#Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.
def findwords(text):
    p = re.compile(r'\b\w{3,5}\b')
    match = p.findall(text)
    return match
text = "veera is my daughter and she is very intelligent."
result = findwords(text)
print(result)

['veera', 'and', 'she', 'very']

In [38]:
#Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
def remove_parentheses(strings):
    pattern = re.compile(r"[()]")
    modified_strings = []
    for string in strings:
        modified_string = re.sub(pattern , "" , string)
        modified_strings.append(modified_string)
    return modified_strings


sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result = remove_parentheses(sample_text)
print(result)

['example com', 'hr@fliprobo com', 'github com', 'Hello Data Science World', 'Data Scientist']

In [35]:
# Question 6 - Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
with open("D:\sample1.txt") as file:
         for files in file:
            print(re.sub(r" ?\([^)]+\)", "", files))

["example", "hr@fliprobo", "github", "Hello", "Data"]

In [42]:
#Question 7-Write a regular expression in Python to split a string into uppercase letters.
text = 'ImportanceOfRegularExpressionsInPython'
print(re.findall('[A-Z][^A-Z]*',text))

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [25]:
#Question 8-Create a function in python to insert spaces between words starting with numbers.
def capitalword_space(text):
  return re.sub(r"(\d+)([A-Za-z]+)",r" \1\2",text)
print(capitalword_space("RegularExpression1IsAn2ImportantTopic3InPython"))

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [26]:
#Question 9 -Create a function in python to insert spaces between words starting with capital letters or with numbers.
def capitalwords_digitspaces(text):
  return re.sub(r"(\d+)([A-Z0-9])", r" \1 \2", text)
print(capitalwords_digitspaces("RegularExpression1IsAn2ImportantTopic3InPython"))

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [37]:
#Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
url = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(url)
df['first_five_letters'] = df['Country'].apply(lambda x: x[:6])
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

In [58]:
#Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.
def text_match(text):
    pattern = r'^[a-zA-Z0-9_]+$'
    if re.search(pattern , text):
        return ('found a match!')
    else:
        return ('not match')
        
print(text_match('veera_123'))
print(text_match('veera 123'))
print(text_match('veera@_'))

found a match!
not match
not match

In [59]:
#Question 12-Write a Python program where a string will start with a specific number.
def text_match(text):
    pattern = r'^[0-9]+'
    if re.search(pattern , text):
        return ('found a match!')
    else:
        return ('not match')
        
print(text_match('5-veera'))
print(text_match('1veera'))
print(text_match('veera'))

found a match!
found a match!
not match

In [9]:
#Question 13- Write a Python program to remove leading zeros from an IP address
ip = "192.168.09.59"
print(re.sub('\.[0]*',".",ip))

192.168.9.59

In [167]:
#Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
with open("D:\sample.txt") as file:
        for files in file:
            text = re.findall(r"\b[A-Z][a-z]+\d{1,2}(?:st|nd|rd|th)?\d{4}\b ",files)
            print(text)

['August15th1947 ']

In [9]:
#Question 15- Write a Python program to search some literals strings in a string.
pattern = ['fox','dog','horse']
text= 'The quick brown fox jumps over the lazy dog.'
for pat in pattern:
    print('Searching for "%s" in "%s" =' %(pat, text),)
    if re.search(pat, text):
          print('match!')
    else:
          print('not match.')

Searching for "fox" in "The quick brown fox jumps over the lazy dog." =
match!
Searching for "dog" in "The quick brown fox jumps over the lazy dog." =
match!
Searching for "horse" in "The quick brown fox jumps over the lazy dog." =
not match.

In [10]:
#Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
pattern = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text)
s = match.start()
e = match.end()
print('Found "%s" in "%s" from %d to %d ' % (match.re.pattern, match.string, s, e))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

In [8]:
#Question 17- Write a Python program to find the substrings within a string
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.findall(pattern, text):
    print('found "%s"' % match)

found "exercises"
found "exercises"
found "exercises"

In [7]:
#Question 18 -Write a Python program to find the occurrence and position of the substrings within a string.
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.finditer(pattern, text):
    s = match.start()
    e = match.end()
    print('Found "%s" at %d:%d' % (text[s:e], s, e))

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45

In [11]:
#Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.
def change_date_format(df):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', df)
df1 = "2024-02-01"
print("Original date in YYYY-MM-DD Format: ",df1)
print("New date in DD-MM-YYYY Format: ",change_date_format(df1))

Original date in YYYY-MM-DD Format:  2024-02-01
New date in DD-MM-YYYY Format:  01-02-2024

In [95]:
#Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

def find_decimal_numbers(text):
    pattern = re.compile(r'\d+\.\d{1,2}')
    decimalnumbers = re.findall(pattern,text)
    return decimalnumbers
text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
output = find_decimal_numbers(text)
print(output)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

In [96]:
def findwords(text):
    p = re.compile(r'\b\w{4,}\b')
    match = p.findall(text)
    return match
text = "veera is my daughter and she is very intelligent."
result = findwords(text)
print(result)

['veera', 'daughter', 'very', 'intelligent']

In [82]:
#question 21-Write a Python program to separate and print the numbers and their position of a given string.
text = "veera is my daughter she is 2 year old and her birthdate is 5 jan."
for v in re.finditer("\d+", text):
    print(v.group(0))
    print("position:", v.start())

2
position: 28
5
position: 60

In [83]:
#Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
string='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
number = re.findall('\d+', string)
number = map(int, number)
print("Max_value:",max(number))

Max_value: 950

In [54]:
#Question 23- Create a function in python to insert spaces between words starting with capital letters.
def capitalwords_digitspaces(text):
  return re.sub(r"(\w)([A-Z])", r"\1 \2", text)
print(capitalwords_digitspaces("RegularExpressionIsAnImportantTopicInPython"))

Regular Expression Is An Important Topic In Python

In [57]:
#Question 24- Python regex to find sequences of one upper case letter followed by lower case letters
pattern = r'[A-Z][a-z]+'
text = "veera is my Daughter.She is 2 year old and Her Birthdate is 5 Jan."
v = re.findall(pattern, text)
print(v)

['Daughter', 'She', 'Her', 'Birthdate', 'Jan']

In [58]:
#Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
def remove_duplicates(sentence):
  pattern = r'\b(\w+)(\s+\1\b)+'
  result = re.sub(pattern, r'\1', sentence)
  return result
sentence = "Hello hello world world"
output = remove_duplicates(sentence)
print(output)

Hello hello world

In [63]:
#Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.
def text_match(text):
    pattern = r"\w$"
    if re.search(pattern,text):
        return( 'found a match')
    else:
        return('not match')
    
print(text_match('acccc')) 
print(text_match('abbc@'))
print(text_match('bhavikacb1'))
print(text_match('bhavika123')) 
print(text_match('akash'))
print(text_match('veerab'))

found a match
not match
found a match
found a match
found a match
found a match

In [64]:
#Question 27-Write a python program using RegEx to extract the hashtags.
def extract_hashtags(text):
  hashtags = re.findall(r'#\w+', text)
  return hashtags
text = 'RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo'
hashtags = extract_hashtags(text)
print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [65]:
#Question 28- Write a python program using RegEx to remove <U+..> like symbols
input_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"
pattern = r"<U\+\w{4}>"
output_text = re.sub(pattern, "", input_text)
print(output_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

In [67]:
#Question 29- Write a python program to extract dates from the text stored in the text file.
with open('D:\sample2.txt') as file:
  text = file.read()
pattern = r'\d{2}-\d{2}-\d{4}'
dates = re.findall(pattern, text)
for date in dates:
  print(date)

12-09-1992
15-12-1999

In [79]:
#Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
remove = re.compile(r'\W*\b\w{2,4}\b')
print(remove.sub('', text))

 following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.