In [9]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2023.11.17)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [14]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [19]:
#Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data
driver=webdriver.Chrome()

In [21]:
driver.get('https://www.shine.com/')# opening shine page in chrome browser

In [24]:
job_title = driver.find_element(By.CLASS_NAME,"form-control  ")#entering the job_title and location as required
job_title.send_keys('Data Analyst')

In [27]:
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Banglore')

In [30]:
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")# enter the serch button
search.click()

In [33]:
job_title=[]
job_location=[]
company_name=[]
exe_required=[]

In [35]:
#scraping job title,location,company name, exeperience from the given page
start=0
end=10
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags(start,end):
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags(start,end):
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags(start,end):
    company=i.text
    company_name.append(company)
    
exp_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp_tags(start,end):
    exp=i.text
    exe_required.append(exp)

In [ ]:
print(len(job_title),len(job_location),len(company_name),len(exe_required))

In [41]:
df=pd.DataFrame({'TITLE':job_title,'LOCATION':job_location,'COMPANY':company_name,'EXEPERIENCE':exe_required})
df.head(10)

,TITLE,LOCATION,COMPANY,EXEPERIENCE
0,Data Analyst,Mumbai City\n+9,sahast sales corporation,12 to 22 Yrs
1,Clinical Data Analyst,Gurugram\n+6,techno endura,0 to 1 Yr
2,Data Analyst,Gurugram\n+9,sahast sales corporation,12 to 22 Yrs
3,Hiring For Data Analyst,Oman\n+12,radhika enterprises,0 to 4 Yrs
4,Lead Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
5,Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
6,Technical Data Architect,Bangalore,uprighthc solutions private limited,10 to 20 Yrs
7,Data Science Architect,Gurugram\n+4,symphoni hr pvt. ltd.,8 to 10 Yrs
8,Data Engineer,Bangalore,spm hr solutions,4 to 6 Yrs
9,Clinical Data Associate,Gurugram\n+6,techno endura,0 to 1 Yr

In [75]:
#Q2: Write a python program to scrape data for ““Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
driver=webdriver.Chrome()

In [76]:
driver.get('https://www.naukri.com/')# opening naukri page in chrome browser

In [77]:
job_title = driver.find_element(By.CLASS_NAME,"suggestor-input ")#entering the job_title and location as required
job_title.send_keys('Data Scientist')

In [ ]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Banglore')

In [79]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")# enter the serch button
search.click()

In [80]:
job_title=[]
job_location=[]
company_name=[]
exe_required=[]

In [81]:
#scraping job title,location,company name, exeperience from the given page
start=0
end=10
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags(start,end):
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags(start,end):
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags(start,end):
    company=i.text
    company_name.append(company)
    
exp_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in exp_tags(start,end):
    exp=i.text
    exe_required.append(exp)

In [ ]:
print(len(job_title),len(job_location),len(company_name),len(exe_required))

In [73]:
df=pd.DataFrame({'TITLE':job_title,'LOCATION':job_location,'COMPANY':company_name,'EXEPERIENCE':exe_required})
df.head(10)

,TITLE,LOCATION,COMPANY,EXEPERIENCE
0,Data Scientist-Senior Associate - P&T Labs,"Mumbai, Hyderabad, Bengaluru",PwC Service Delivery Center,4-6 Yrs
1,"Senior Data Scientist, Reporting","Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Coursera,6-7 Yrs
2,"Data Scientist, Marketing","Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Coursera,4-6 Yrs
3,Sr. Data Scientist,Bengaluru,Visa Inc,0-3 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,3-6 Yrs
5,AI Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,2-6 Yrs
6,Xoriant is hiring Senior Generative AI Engineer !,"Hybrid - Pune, Maharashtra, Bangalore Rural, K...",Xoriant,5-10 Yrs
7,GenAI Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,5-6 Yrs
8,Data Scientist HTHD,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,1-4 Yrs
9,Data Scientist (Analytic Engineer),Bengaluru,Applied Materials,7-10 Yrs

In [101]:
#Q3: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
driver=webdriver.Chrome()

In [102]:
driver.get('https://www.flipkart.com/account/login?ret=/')# opening flipkart page in chrome browser

In [104]:
product = driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")#entering the product name 
product.send_keys('Sunglasses')

In [105]:
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")# enter the serch button
search.click()

In [106]:
brand=[]
productdescription=[]
price=[]

In [107]:
#scraping job title,location,company name, exeperience from the given page

brand_tags=driver.find_elements(By.XPATH,'//div[@class="G6XhRU"]')
for i in brand_tags:
    name=i.text
    brand.append(name)
    
productdescription_tags=driver.find_elements(By.XPATH,'//span[@class="B_NuCI"]')
for i in productdescription_tags:
    description=i.text
    productdescription.append(description)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3 _16Jk6d"]')
for i in price_tags:
    rate=i.text
    price.append(rate)

In [108]:
next = driver.find_element(By.CLASS_NAME,"_1LKTO3")# click the next button
next.click()

In [ ]:
brand=[]
productdescription=[]
price=[]
brand_tags=driver.find_elements(By.XPATH,'//div[@class="G6XhRU"]')
for i in brand_tags:
    name=i.text
    brand.append(name)
    
productdescription_tags=driver.find_elements(By.XPATH,'//span[@class="B_NuCI"]')
for i in productdescription_tags:
    description=i.text
    productdescription.append(description)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3 _16Jk6d"]')
for i in price_tags:
    rate=i.text
    price.append(rate)

In [ ]:
next = driver.find_element(By.CLASS_NAME,"_1LKTO3")# click the next button
next.click()

In [ ]:
brand=[]
productdescription=[]
price=[]
brand_tags=driver.find_elements(By.XPATH,'//div[@class="G6XhRU"]')
for i in brand_tags:
    name=i.text
    brand.append(name)
    
productdescription_tags=driver.find_elements(By.XPATH,'//span[@class="B_NuCI"]')
for i in productdescription_tags:
    description=i.text
    productdescription.append(description)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3 _16Jk6d"]')
for i in price_tags:
    rate=i.text
    price.append(rate)