In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [25]:
#Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location andsalary filter
driver=webdriver.Chrome()

In [26]:
driver.get('https://www.naukri.com/')# opening naukri page in chrome browser

In [27]:
job_title = driver.find_element(By.CLASS_NAME,"suggestor-input ")#entering the job_title and location as required
job_title.send_keys('Data Scientist')

In [28]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")# enter the serch button
search.click()

In [32]:
search = driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[1]/div[2]/div[4]/label/p/span[1]")# SELECT DELHI/NCR LOCATION
search.click()

In [33]:
search = driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")# SELECT 3-6 LAKH SALARY
search.click()

In [34]:
job_title=[]
job_location=[]
company_name=[]
exe_required=[]

In [35]:
#scraping job title,location,company name, exeperience from the given page
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
title_tags[0:10]
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
location_tags[0:10]
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
company_tags[0:10]
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
exp_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
exp_tags[0:10]
for i in exp_tags[0:10]:
    exp=i.text
    exe_required.append(exp)

In [36]:
print(len(job_title),len(job_location),len(company_name),len(exe_required))

10 10 10 10

In [37]:
df=pd.DataFrame({'TITLE':job_title,'LOCATION':job_location,'COMPANY':company_name,'EXEPERIENCE':exe_required})
df

,TITLE,LOCATION,COMPANY,EXEPERIENCE
0,Data Scientist,"Mumbai, Hyderabad, Gurugram",Deloitte,3-6 Yrs
1,Data Scientist,"Gurugram, Bengaluru",Blackbuck,3-7 Yrs
2,Lead Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Elitefit.ai,3-7 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Fort Technologies,1-3 Yrs
4,JOB Opening // Data science // Neosoft Mumbai ...,"Noida, Mumbai, Pune",NeoSOFT,4-7 Yrs
5,Lead Customer Success - Data Scientist,"Pune, Gurugram",ZS Associates,2-4 Yrs
6,Data Scientist,Noida,Innovaccer,2-7 Yrs
7,Data Scientist,Noida,Times Internet,3-8 Yrs
8,Python and ML Trainer,"Hyderabad, New Delhi, Pune, Gurugram, Bengaluru",The Scholar,3-8 Yrs
9,Data Scientist,"Gurugram, Bengaluru",Acenet,3-4 Yrs

In [38]:
#Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
driver=webdriver.Chrome()

In [39]:
driver.get('https://www.shine.com/new/job-search')# opening shine page in chrome browser

In [41]:
job_title = driver.find_element(By.CLASS_NAME,"form-control  ")#entering the job_title and location as required
job_title.send_keys('Data Scientist')

In [42]:
location = driver.find_element(By.XPATH,"/html/body/div/div[2]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Banglore')

In [49]:
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")# enter the serch button
search.click()

In [50]:
job_title=[]
job_location=[]
company_name=[]
exe_required=[]

In [52]:
#scraping job title,location,company name, exeperience from the given page

title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
title_tags[0:10]
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
            
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
location_tags[0:10]
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
        
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
company_tags[0:10]
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
        
exp_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
exp_tags[0:10]
for i in exp_tags[0:10]:
    exp=i.text
    exe_required.append(exp)

In [53]:
print(len(job_title),len(job_location),len(company_name),len(exe_required))

10 10 10 10

In [54]:
df=pd.DataFrame({'TITLE':job_title,'LOCATION':job_location,'COMPANY':company_name,'EXEPERIENCE':exe_required})
df

,TITLE,LOCATION,COMPANY,EXEPERIENCE
0,Data Scientist Opening,Canada\n+15,renuka interprises,0 to 4 Yrs
1,Data Scientist Opening,Canada\n+15,renuka interprises,0 to 4 Yrs
2,Data Scientist Recruitment,Mumbai City\n+9,radhika enterprises,0 to 4 Yrs
3,Data Scientist,Gurugram\n+8,techno endura,0 to 2 Yrs
4,ML Data Scientist,Bangalore\n+3,gujarat facility services hiring fo...,5 to 8 Yrs
5,Data Scientist Urgent Vacancy,Canada\n+15,renuka interprises,0 to 4 Yrs
6,Clinical Data Associate,Gurugram\n+6,techno endura,0 to 1 Yr
7,Data Scientist,Gurugram\n+4,acme services private limited,3 to 5 Yrs
8,Data Scientist Recruitment,Canada\n+15,renuka interprises,0 to 4 Yrs
9,Data Scientist Recruitment,Canada\n+15,renuka interprises,0 to 4 Yrs

In [ ]:
#Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
driver=webdriver.Chrome()

In [ ]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [ ]:
Rating=[]
Review_summary=[]
Full_review=[]

In [ ]:
rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating:
    star=i.text
    Rating.append(star)
    
review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review:
    rev=i.text
    Review_summary.append(rev)
    
full=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full:
    frev=i.text
    Full_review.append(frev)

In [ ]:
print(len(Rating),len(Review_summary),len(Full_review))

In [ ]:
start=0
end=9
for page in range(start,end):
    rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        Rating.append(i.text)
    
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        Review_summary.append(i.text)
    
    full=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full:
        Full_review.append(i.text)
    next_click= driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_click.click()
    time.sleep(3)

In [ ]:
print(len(Rating),len(Review_summary),len(Full_review))

In [ ]:
#Q4: Scrape data forfirst 100 sneakers you find whenyouvisitflipkart.com and search for “sneakers” inthe search field
driver=webdriver.Chrome()

In [ ]:
driver.get('https://www.flipkart.com/account/login?ret=/')

In [ ]:
product = driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")#entering the product name 
product.send_keys('Sneakers')

In [ ]:
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")# enter the serch button
search.click()

In [ ]:
brand=[]
productdescription=[]
price=[]

In [ ]:
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        name=i.text
        brand.append(name)

    productdescription_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in productdescription_tags:
        description=i.text
        productdescription.append(description)

    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        rate=i.text
        price.append(rate)
    next_click= driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_click.click()
    time.sleep(3)

In [ ]:
print(len(brand),len(productdescription),len(price))

In [ ]:
brand,productdescription,price

In [ ]:
#Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
driver=webdriver.Chrome()

In [ ]:
driver.get('https://www.amazon.in/')

In [ ]:
item = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
item.send_keys('laptop')

In [ ]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")# enter the serch 
search.click()

In [ ]:
FEILD = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[19]/span/span[9]/li/span/a")# enter the serch button
FEILD.click()

In [ ]:
TITLE=[]
RATING=[]
PRICE=[]

In [ ]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')
title_tags[0:10]
for i in title_tags[0:10]:
    title=i.text
    TITLE.append(title)
            
RATING_tags=driver.find_elements(By.XPATH,'//span[@class="a-declarative"]/a/i')
RATING_tags[0:10]
for i in RATING_tags[0:10]:
    rating=i.text
    RATING.append(rating)
        
PRICE_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
PRICE_tags[0:10]
for i in PRICE_tags[0:10]:
    price=i.text
    PRICE.append(price)

In [ ]:
print(len(TITLE),len(RATING),len(PRICE))

In [ ]:
TITLE,RATING,PRICE

In [ ]:
#Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
driver=webdriver.Chrome()

In [ ]:
driver.get('https://www.azquotes.com/')

In [ ]:
top_quotes = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div/div[3]/ul/li[5]/a")
top_quotes.click()

In [ ]:
QUOTE=[]
AUTHOR=[]
TYPES_OF_QUOTE=[]

In [ ]:
start=0
end=10
for page in range(start,end):
    QUOTE_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in QUOTE_tags:
        name=i.text
        QUOTE.append(name)

    AUTHOR_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in AUTHOR_tags:
        author=i.text
        AUTHOR.append(author)

    TYPES_OF_QUOTE_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in TYPES_OF_QUOTE_tags:
        types=i.text
        TYPES_OF_QUOTE.append(types)
    next_click = driver.find_element(By.CLASS_NAME,"next")
    next_click.click()
    time.sleep(3)

In [ ]:
print(len(QUOTE),len(AUTHOR),len(TYPES_OF_QUOTE))

In [17]:
#Q7 Write a python program to display list of respected former Prime Ministers of India (i.e. Name,born-Dead, Term of office, Remarks) 
driver=webdriver.Chrome()

In [18]:
driver.get('https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1')

In [21]:
A=[]
B=[]
C=[]
D=[]
E=[]
F=[]
G=[]
H=[]

In [22]:
a=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr[2]')
for i in a:
    name=i.text
    A.append(name)

b=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr[3]')
for i in b:
    name=i.text
    B.append(name)
    
c=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr[4]')
for i in c:
    name=i.text
    C.append(name)
    
d=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr[5]')
for i in d:
    name=i.text
    D.append(name)
    
e=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr[6]')
for i in e:
    name=i.text
    E.append(name)
    
f=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr[7]')
for i in f:
    name=i.text
    F.append(name)
    

g=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr[8]')
for i in g:
    name=i.text
    G.append(name)
    
h=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr[9]')
for i in h:
    name=i.text
    H.append(name)

In [27]:
df=pd.DataFrame({'TITLE':job_title,'LOCATION':job_location,'COMPANY':company_name,'EXEPERIENCE':exe_required})
df

19

In [24]:
A,B,C,D,E,F,G,H

(['1.\nJawahar Lal Nehru\n(1889–1964)\n15 August 1947 to 27 May 1964\n16 years, 286 days\nThe first prime minister of India and the longest-serving PM of India, the first to die in office.'],
 ['2.\nGulzarilal Nanda (Acting)\n(1898-1998)\n27 May 1964 to 9 June 1964,\n13 days\nFirst acting PM of India'],
 ["3.\nLal Bahadur Shastri\n(1904–1966)\n9 June 1964 to 11 January 1966\n1 year, 216 days\nHe has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965"],
 ['4. \nGulzari Lal Nanda  (Acting)\n(1898-1998)\n11 January 1966 to 24 January 1966\n13 days\n-'],
 ['5.\nIndira Gandhi\n(1917–1984)\n24 January 1966 to 24 March 1977\n11 years, 59 days\nFirst female Prime Minister of India'],
 ['6.\nMorarji Desai\n(1896–1995)\n24 March 1977 to  28 July 1979 \n2 year, 126 days\nOldest to become PM (81 years old) and first to resign from office'],
 ['7.\nCharan Singh\n(1902–1987)\n28 July 1979 to 14 January 1980\n170 days\nOnly PM who did not face the Parliament'],
 ['8.\nIndira Gandhi\n(1917–1984)\n14 January 1980 to 31 October 1984\n4 years, 291 days\nThe first lady who served as PM for the second term'])

In [30]:
BORN_dead=driver.find_elements(By.XPATH,'//th[@valign="top"]/div/strong')
for i in BORN_dead:
    born=i.text
    BORN_DEAD.append(born)
    
TERM_OF_office=driver.find_elements(By.XPATH,'//th[@valign="top"]/div/strong')
for i in TERM_OF_office:
    term=i.text
    TERM_OF_OFFICE.append(term)
    
Remark=driver.find_elements(By.XPATH,'//th[@valign="top"]/div/strong')
for i in Remark:
    remark=i.text
    REMARK.append(remark)

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=122.0.6261.112)
Stacktrace:
	GetHandleVerifier [0x00007FF6F483AD32+56930]
	(No symbol) [0x00007FF6F47AF632]
	(No symbol) [0x00007FF6F46642E5]
	(No symbol) [0x00007FF6F4641D4C]
	(No symbol) [0x00007FF6F46D23F7]
	(No symbol) [0x00007FF6F46E7891]
	(No symbol) [0x00007FF6F46CBA43]
	(No symbol) [0x00007FF6F469D438]
	(No symbol) [0x00007FF6F469E4D1]
	GetHandleVerifier [0x00007FF6F4BB6ABD+3709933]
	GetHandleVerifier [0x00007FF6F4C0FFFD+4075821]
	GetHandleVerifier [0x00007FF6F4C0818F+4043455]
	GetHandleVerifier [0x00007FF6F48D9766+706710]
	(No symbol) [0x00007FF6F47BB90F]
	(No symbol) [0x00007FF6F47B6AF4]
	(No symbol) [0x00007FF6F47B6C4C]
	(No symbol) [0x00007FF6F47A6904]
	BaseThreadInitThunk [0x00007FFFA025257D+29]
	RtlUserThreadStart [0x00007FFFA1E0AA58+40]

In [3]:
#Q8: Write a python program to display list of 50 Most expensive cars in the world(i.e. Car name and Price) from https://www.motor1.com
driver=webdriver.Chrome()

In [4]:
driver.get('https://www.motor1.com/')

In [6]:
c = driver.find_element(By.XPATH,"/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/input")
c.send_keys('50 most expensive cars')

In [7]:
search = driver.find_element(By.XPATH,"/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/button[1]")# enter the serch button
search.click()

In [8]:
LINK = driver.find_element(By.XPATH,"/html/body/div[9]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a")
LINK.click()

In [9]:
CAR_NAME=[]
PRICE=[]

In [16]:
CAR_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in CAR_tags:
    title=i.text
    CAR_NAME.append(title)
    
PRICE_tags=driver.find_elements(By.XPATH,'//*[@id="p"]/strong')
for i in PRICE_tags:
    price=i.text
    PRICE.append(price)

In [15]:
print(len(CAR_NAME),len(PRICE))

153 1